services:
  # Kontener z aplikacją
  web:
    build: ./web
    container_name: flask_app
    restart: always
    environment:
      - SQLALCHEMY_DATABASE_URI=sqlite:////app/instance/app.db
    volumes:
      - ./web:/app
      #- app_data:/app/instance
      - ./web/instance:/app/instance
    secrets:
      - flask_key_file

  # Kontener nginx
  nginx:
    build: ./nginx
    container_name: nginx_proxy
    ports:
      - "443:8443"
    depends_on:
      - web # Nginx czeka aż web wstanie
  #volumes:
  #app_data:


secrets:
  flask_key_file:
    file: ./secrets/flask_secret.txt
